body {
  margin: 0;
  padding: 4px;
  font-family: "Arial Black", Gadget, sans-serif;
}

/********************************************************************
* NAVIGATION
*********************************************************************/
.nav {
  width: 540px;
  background: #fff;
  padding: 5px 10px;
  color: #111;
}

.nav div, .nav header {
  display: inline-block;
  vertical-align: middle;
}

.nav header {
  font-size: 20px;
  margin-left: 10px;
}

/********************************************************************
* POPUP BODY
*********************************************************************/
content {
  /* border-bottom: 1px solid #34d058; */
}

.current-repo {

}

/********************************************************************
* BUTTON
*********************************************************************/
.btn-full-width {
  width: 100%;
  height: 40px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
}

.btn-full-width:hover {
  background: #f1f1f1;
  border: 1px solid #aaa;
}
